.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    border: 1px solid rgb(50, 41, 176);      
}

.main div {
    border: 1px solid black;
    text-align: center;
}

#main-1{
    grid-column-start: 1;
}

.main-2{
    grid-column-start: 2;
}

.main-3{
    grid-column-start: 3;
}

.main-4{
    grid-row-start: 2;
    grid-column-start: 1;
}

.main-5{
    grid-row-start: 2;
    grid-column-start: 2;
}

.main-6{
    grid-row-start: 2;
    grid-column-start: 3;
}

.main-7{
    grid-row-start: 3;
    grid-column-start: 1;
}

.main-8{
    grid-row-start: 3;
    grid-column-start: 2;
}

.main-9{
    grid-row-start: 3;
    grid-column-start: 3;
    
}

